<!DOCTYPE html>
<html lang="en">
<head>
  <title>Call Handler Helper</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="#">Call Handler Helper</a>
 
      <ul class="nav">
        <% if user_signed_in? %>
          <li>
            <%= link_to('Calls for me', root_path) %>
          </li>
          <li>
            <%= link_to 'Calls logged by me', root_path(:logged_by_me => true) %>
          </li>
          <li>
            <%= link_to 'New Call', new_call_path %>
          </li>
          <li>
          <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>        
          </li>
          <li>
          <%= link_to('Edit account', edit_user_registration_path) %>
          </li>
        <% else %>
          <li>
          <%= link_to('Login', new_user_session_path)  %>  
          </li>
          <li>
          <%= link_to('Sign up', new_user_registration_path)  %>
          </li>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <img src="https://secure.gravatar.com/avatar/<%= Digest::MD5.hexdigest(current_user.email) %>?s=30" />
      <% end %>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
      </div>
 
    </div>
  </div>
</div>
<div class="container">

<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
<% end %>

<%= yield %>
</div>
</body>
</html>
